@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: 26, 25, 23;
  background: #1a1917;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.circle {
  width: 30px;
  height: 30px;
  border: 2px solid white;
  border-radius: 50%;
  position: fixed;
  pointer-events: none; /* Esto hace que el círculo no interfiera con otros eventos del ratón */
  transform: translate(-50%, -50%); /* Centra el círculo en el puntero */
  z-index: 1000; /* Asegura que el círculo esté encima de otros elementos */
}
